{% include base_path %}
{% assign title = post.title | markdownify | remove: '<p>' | remove: '</p>' %}
<article class="archive-entry" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="archive-entry__index">{{ forloop.index | prepend: '0' | slice: -2, 2 }}</div>
  <div>
    <div class="entry-meta">
      <span class="entry-kind">{% if post.collection == 'publications' %}publication{% elsif post.collection %}{{ post.collection }}{% else %}note{% endif %}</span>
      {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%Y-%m-%d' }}</time>{% endif %}
      {% if post.venue %}<span>{{ post.venue }}</span>{% endif %}
    </div>
    <h2 itemprop="headline"><a href="{{ base_path }}{{ post.url }}">{{ title }}</a></h2>
    {% if post.excerpt %}<p class="archive-entry__excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html }}</p>{% endif %}
    {% if post.tags %}<div class="archive-entry__tags">{% for tag in post.tags %}<span>{{ tag }}</span>{% endfor %}</div>{% endif %}
  </div>
</article>
